<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voting Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div id="voting-page" class="page">
            <h1>Vote for Your Favorite Image</h1>
            <div class="images-container">
                <div class="image-box">
                    <img src="{{ choices[0].image }}" alt="{{ choices[0].id }}">
                    <p>{{ choices[0].caption }}</p>
                    <button class="vote-btn" onclick="vote('image1')">Vote for {{ choices[0].id }}</button>
                </div>
                <div class="image-box">
                    <img src="{{ choices[1].image }}" alt="{{ choices[1].id }}">
                    <p>{{ choices[1].caption }}</p>
                    <button class="vote-btn" onclick="vote('image2')">Vote for {{ choices[1].id }}</button>
                </div>
            </div>

            <a class="to-leaderboard-btn" href="/leaderboard">Go to Leaderboard</a>
        </div>
    </body>
</html>
