<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voting Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <div id="leaderboard-page" class="page">
            <h1>Leaderboard</h1>

            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody id="leaderboard-table">
                    <!-- TODO: Implement functionality for retrieving scores -->
                </tbody>
            </table>

            <br><br>
            <a class="back-btn" href="/">Back to Voting Page</a>
        </div>
    </body>
</html>